<div class="container">
  <br>
  <h1> Pipes </h1>
  <hr>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{ name }} </td>
        <td> uppercase </td>
        <td> {{ name | uppercase }} </td>
      </tr>
      <tr>
        <td> {{ name }} </td>
        <td> lowercase </td>
        <td> {{ name | lowercase }} </td>
      </tr>
      <tr>
        <td> {{ name }} </td>
        <td> slice:3 </td>
        <td> {{ name | slice:3 }} </td>
      </tr>
      <tr>
        <td> {{ name }} </td>
        <td> slice:0:5 </td>
        <td> {{ name | slice:0:5 }} </td>
      </tr>
      <tr>
        <td> {{ arrNumb }} </td>
        <td> slice:1:5 </td>
        <td> {{ arrNumb | slice:1:5 }} </td>
      </tr>
      <tr>
        <td> {{ PI }} </td>
        <td> number:'3.0-0' </td>
        <td> {{ PI | number:'3.0-0'}} </td>
      </tr>
      <tr>
        <td> {{ PI }} </td>
        <td> number:'1.0-2' </td>
        <td> {{ PI | number:'1.0-2'}} </td>
      </tr>
      <tr>
        <td> {{ number }} </td>
        <td> percent </td>
        <td> {{ number | percent }} </td>
      </tr>
      <tr>
        <td> {{ number }} </td>
        <td> percent:'2.2-2' </td>
        <td> {{ number | percent:'2.2-2' }} </td>
      </tr>
      <tr>
        <td> {{ salary }} </td>
        <td> currency </td>
        <td> {{ salary | currency }} </td>
      </tr>
      <tr>
        <td> {{ salary }} </td>
        <td> currency:'EUR' </td>
        <td> {{ salary | currency:'EUR' }} </td>
      </tr>
      <tr>
        <td> {{ promiseValue }} </td>
        <td> async </td>
        <td> {{ promiseValue | async }} </td>
      </tr>
      <tr>
        <td> {{ date }} </td>
        <td> date </td>
        <td> {{ date | date }} </td>
      </tr>
      <tr>
        <td> {{ date }} </td>
        <td> date:'medium' </td>
        <td> {{ date | date:'medium' }} </td>
      </tr>
      <tr>
          <td> {{ date }} </td>
          <td> date:'MMMM - dd' </td>
          <td> {{ date | date:'MMMM - dd' }} </td>
        </tr>
        <tr>
          <td> {{ name }} </td>
          <td> password:{{ active }} </td>
          <br>
          <button
              (click)='active = !active'
              type='button'
              class="btn btn-outline-primary">Activar/Desactivar</button>
          <td> {{ name | password:active}} </td>
        </tr>
    </tbody>
  </table>

  <h3> Slice </h3>
  <ul>
    <li *ngFor='let item of arrNumb | slice:5:9'>{{ item }}</li>
  </ul>

  <h3>JSON</h3>
  <pre> {{ hero | json }} </pre>

  <h3>Youtube <small>video</small> </h3>
  <iframe [src]="video | domSafe:'https://www.youtube.com/embed/'" frameborder="0"></iframe>

</div>